#loginBtn{
	width: 150px;
	height: 30px; 
	background-color: rgb(68,144,247);
	border: 0;
	font-size: 18px;
	color: white;
}
#loginCaptchaImage{
	cursor: pointer; margin-bottom: -4px;
}
#loginCaptcha{
	width:160px; border-right:#BFD7F0 solid 1px;text-transform: uppercase;
}
.tdFirstTitle{
	text-align: right;
	padding: 15px 0px 0px 25px;
}
.tdFirstContent{
	font-size:13px;
	padding-top: 15px;
}
.contentInput{
	width: 224px;
	border-right:#BFD7F0 solid 1px;
}
.tdTitle{
	text-align: right;	
	padding: 10px 0px 0px 25px;
}
.tdContent{
	padding-top: 10px;
}