@charset "utf-8";

.pager {
	float: right;
	clear: both;
	padding-right:50px;
}

.pager li {
	line-height: 18px;
	display: block;
	float: left;
	padding: 0px 5px;
	margin: 0px 3px;
	font-size: 12px;
	border: 1px solid #cccccc;
}

.pager li:hover {
	color: #ff9900;
	border: 1px solid #3388d8;
}

.pager li:hover a {
	color: #3388d8;
}

.pager li a {
	color: #464646;
}

.pager li span {
	color: #cfcfcf;
}

.pager li.currentPage {
	border: 1px solid #3388d8;
	background-color: #EBEBEB;
}

.pager li.currentPage span {
	font-weight: bold;
	color: #gray;
}

.pager li.pageInfo {
	margin-right: 5px;
	color: #464646;
	border: none;
	background: none;
}