<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerTypeMapper" >
  	<select id="queryCombobox"  resultType="CustomerType">
		select customerTypeId,customerTypeName
		from T_CustomerType
	</select>
  	<select id="loadByCustomerTypeName"  resultType="CustomerType" parameterType="String">
		select *
		from T_CustomerType
		where customerTypeName=#{customerTypeName}
	</select>
	<select id="query"  resultType="CustomerType" parameterType="CustomerType">
		select *
		from T_CustomerType
		where 1 = 1  
		<if test="customerTypeName != null and customerTypeName !=''">
			and customerTypeName like '%${customerTypeName}%'
		</if>
		order by customerTypeId
	</select>
	<select id="count"  resultType="Long" parameterType="CustomerType">
		select count(1)
		from T_CustomerType
		where 1 = 1  
		<if test="customerTypeName != null and customerTypeName !=''">
			and customerTypeName like '%${customerTypeName}%'
		</if>
	</select>
  <insert id="insert" parameterType="CustomerType"  useGeneratedKeys="true" keyProperty="customerTypeId">
    insert into t_customertype (customerTypeName, discount)
    values (#{customerTypeName,jdbcType=VARCHAR}, #{discount,jdbcType=REAL})
  </insert>
  <update id="update" parameterType="CustomerType" >
    update t_customertype
    set customerTypeName = #{customerTypeName,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=REAL}
    where customerTypeId = #{customerTypeId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="Integer" >
    delete from t_customertype
    where customerTypeId = #{customerTypeId,jdbcType=INTEGER}
  </delete>
</mapper>