#teacher_main{
	border:1px solid;
	width:800px;
	padding:10px;
	float:left;
}

#teacher_menu{
	border:1px solid;
	width:200px;
	float:left;
}

#teacher_menu ul li{
	list-style: none;
}

#teacher_content{
	border:1px solid;
	width:585px;
	float:right;
}

#teacher_content .content_div{
	margin-bottom: 15px;
}

#teacher_content #title_1{
	height:20px;
	background-color:rgb(234,244,255);
}

#teacher_content #title_2{
	border-bottom:1px dashed rgb(124,189,255);
}

#teacher_content #title_1 #sign{
	background-color: blue;
	width: 5px;
	height:100%;
}

#teacher_content #list{
	padding:10px;
}

#teacher_content table tr td{
	width:80px;
}