<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SaleMapper" >
	<select id="load"  resultType="Sale" parameterType="Sale">
		select *
		from T_Sale
		where 1=1
		<if test="saleCode != null and saleCode !=''">
			and saleCode = #{saleCode}
		</if>
	</select>
	<select id="query"  resultType="Sale" parameterType="Sale">
		select a.*,b.customerName,c.userName
		from T_Sale a
		left join t_Customer b on a.customerId = b.customerId
		left join t_user c on a.userId=c.userId
		where 1 = 1  
		<if test="beginDate != null and beginDate !=''">
			and saleDate &gt;= #{beginDate}
		</if>
		<if test="endDate != null and endDate !=''">
			and saleDate &lt;= #{endDate}
		</if>
		<if test="customerName != null and customerName !=''">
			and b.customerName  like '%${customerName}%'
		</if>
		
		order by saleDate desc
	</select>
	<select id="count"  resultType="Long" parameterType="Sale">
		select count(a.saleId)
		from T_Sale a
		left join t_Customer b on a.customerId = b.customerId
		where 1 = 1  
		<if test="beginDate != null and beginDate !=''">
			and saleDate &gt;= #{beginDate}
		</if>
		<if test="endDate != null and endDate !=''">
			and saleDate &lt;= #{endDate}
		</if>
		<if test="customerName != null and customerName !=''">
			and b.customerName  like '%${customerName}%'
		</if>
	</select>
  <insert id="insert" parameterType="Sale"  useGeneratedKeys="true" keyProperty="saleId">
   insert into t_sale (saleId, customerId, userId, 
      saleDate, sourceAmount, discount, 
      amount)
    values (#{saleId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{saleDate,jdbcType=TIMESTAMP}, #{sourceAmount,jdbcType=REAL}, #{discount,jdbcType=REAL}, 
      #{amount,jdbcType=REAL})
  </insert>
  <update id="update" parameterType="Sale" >
    update t_sale
    set customerId = #{customerId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=INTEGER},
      saleDate = #{saleDate,jdbcType=TIMESTAMP},
      sourceAmount = #{sourceAmount,jdbcType=REAL},
      discount = #{discount,jdbcType=REAL},
      amount = #{amount,jdbcType=REAL}
    where saleId = #{saleId,jdbcType=INTEGER}
  </update>
  <delete id="delete" parameterType="Integer" >
    delete from t_sale
    where saleId = #{saleId,jdbcType=INTEGER}
  </delete>
</mapper>