<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerRechargeMapper" >
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from t_customerrecharge
    where customerRechargeId = #{customerRechargeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="CustomerRecharge" useGeneratedKeys="true" keyProperty="customerRechargeId">
    insert into t_customerrecharge (customerId, rechargeDate, amount)
    values (#{customerId,jdbcType=INTEGER}, #{rechargeDate,jdbcType=VARCHAR}, #{amount,jdbcType=REAL});
    
    update t_customer
    set  amount = amount+#{amount}
    where customerId = #{customerId,jdbcType=INTEGER} ;
  </insert>
  <insert id="insertSelective" parameterType="CustomerRecharge" >
    insert into t_customerrecharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerRechargeId != null" >
        customerRechargeId,
      </if>
      <if test="customerId != null" >
        customerId,
      </if>
      <if test="rechargeDate != null" >
        rechargeDate,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerRechargeId != null" >
        #{customerRechargeId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="rechargeDate != null" >
        #{rechargeDate,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="CustomerRecharge" >
    update t_customerrecharge
    <set >
      <if test="customerId != null" >
        customerId = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="rechargeDate != null" >
        rechargeDate = #{rechargeDate,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=REAL},
      </if>
    </set>
    where customerRechargeId = #{customerRechargeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="CustomerRecharge" >
    update t_customerrecharge
    set customerId = #{customerId,jdbcType=INTEGER},
      rechargeDate = #{rechargeDate,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=REAL}
    where customerRechargeId = #{customerRechargeId,jdbcType=INTEGER}
  </update>
</mapper>