<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CustomerRechargeMapper" >
	<insert id="insert" parameterType="CustomerRecharge" useGeneratedKeys="true" keyProperty="customerRechargeId">
	  insert into t_customerrecharge (customerId, rechargeDate, amount)
	  values (#{customerId,jdbcType=INTEGER}, #{rechargeDate,jdbcType=VARCHAR}, #{amount,jdbcType=REAL});
	  
	  update t_customer
	  set  amount = amount+#{amount}
	  where customerId = #{customerId,jdbcType=INTEGER} ;
	</insert>
  	<select id="query"  resultType="CustomerRecharge" parameterType="CustomerRecharge">
		select *
		from T_CustomerRecharge 
		where customerId = #{customerId,jdbcType=INTEGER} 
		order by rechargeDate desc
	</select>
	<select id="count"  resultType="Long" parameterType="CustomerRecharge">
		select count(1)
		from T_CustomerRecharge
		where customerId = #{customerId,jdbcType=INTEGER} 
	</select>
</mapper>